main{
width: 74%;
display: flex;
flex-wrap: wrap;
margin: 20px 10px 20px 0px;
font-size: 13px;
font-weight: normal;
}

.textMain{

}

.images{
    display: flex;
    flex-wrap: wrap;
}

.img1{
    width: fit-content;
    margin: 0px 15px 10px -5px;
}

.mainLists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 0px 30px;
}

h2{
    color: #A5ADB8;
    width: 100%;
    margin: 0px 0px 20px;
    font-size: 20px;
    font-variation-settings: 'wght' 900;
    font-weight: bolder;
}

h3{
    color: black;
    font-size: 17px;
    font-variation-settings: 'wght' 900;
    margin: 10px 0px 10px 5px;
}

h4{
    color: #7D838B;
    font-variation-settings: 'wght' 900;
    /* font-weight: bolder; */
}

table{
    border-collapse: collapse;
}

table a{
    color: #D08B98;
}

th{
    background-color: #9C4757;
    color: white;
    border: 1px solid white;
    padding: 10px;
}

tr{
    background-color: #282D33;
    color: white;
}

td{
    border: 1px solid white;
    padding: 10px;
}

th:first-child{
    border-top-left-radius: 5px;
}

th:last-child{
    border-top-right-radius: 5px;
}

tr:last-child > td:first-child{
    border-bottom-left-radius: 5px;
}

tr:last-child > td:last-child{
    border-bottom-right-radius: 5px;
}